# Data import

In [1]:
import pandas as pd
df = pd.read_excel(r"C:\gamezone-orders-data.xlsx", sheet_name = None)
df.keys()

dict_keys(['orders', 'region'])

Let's create the dataframes and make a backup of the raw data.

In [2]:
df_orders = df['orders']
df_orders_raw = df_orders.copy()
df_regions = df['region']
df_regions_raw = df_regions.copy()

# Data cleaning

## Orders table

In [3]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21864 entries, 0 to 21863
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   USER_ID                  21864 non-null  object
 1   ORDER_ID                 21864 non-null  object
 2   PURCHASE_TS              21864 non-null  object
 3   SHIP_TS                  21864 non-null  datetime64[ns]
 4   PRODUCT_NAME             21864 non-null  object
 5   PRODUCT_ID               21864 non-null  object
 6   USD_PRICE                21859 non-null  float64
 7   PURCHASE_PLATFORM        21864 non-null  object
 8   MARKETING_CHANNEL        21781 non-null  object
 9   ACCOUNT_CREATION_METHOD  21781 non-null  object
 10  COUNTRY_CODE             21826 non-null  object
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 1.8+ MB

There are several columns with the 'object' dtype and some null entries.

### Duplicates

Let's see if some lines are duplicated.

In [4]:
df_orders[df_orders.duplicated(keep=False)]

,USER_ID,ORDER_ID,PURCHASE_TS,SHIP_TS,PRODUCT_NAME,PRODUCT_ID,USD_PRICE,PURCHASE_PLATFORM,MARKETING_CHANNEL,ACCOUNT_CREATION_METHOD,COUNTRY_CODE
9378,b66cdb8d,7a5f67e18fa77291,2020-01-27 00:00:00,2020-01-28,27in 4K gaming monitor,e7e6,480.00,website,direct,desktop,US
9379,b66cdb8d,7a5f67e18fa77291,2020-01-27 00:00:00,2020-01-28,27in 4K gaming monitor,e7e6,480.00,website,direct,desktop,US
9563,6270d6f9,7d09de332e342684,2020-01-27 00:00:00,2020-01-30,27in 4K gaming monitor,891b,332.20,website,direct,desktop,BR
9564,6270d6f9,7d09de332e342684,2020-01-27 00:00:00,2020-01-30,27in 4K gaming monitor,891b,332.20,website,direct,desktop,BR
10051,3838f9e6,833086c869925765,2020-01-24 00:00:00,2020-01-25,27in 4K gaming monitor,891b,317.14,website,direct,desktop,JP
...,...,...,...,...,...,...,...,...,...,...,...
21105,c1c40ee1,f8b8868060282010,2020-01-23 00:00:00,2020-01-26,27in 4K gaming monitor,891b,480.00,website,direct,desktop,IN
21352,8b8daee8,fb26e69e0c859280,2020-01-30 00:00:00,2020-02-01,27in 4K gaming monitor,891b,312.00,website,direct,desktop,US
21353,8b8daee8,fb26e69e0c859280,2020-01-30 00:00:00,2020-02-01,27in 4K gaming monitor,891b,312.00,website,direct,desktop,US
21453,af7d9829,fc629d3dc5474356,2020-01-30 00:00:00,2020-02-02,27in 4K gaming monitor,891b,360.42,website,affiliate,unknown,US
21454,af7d9829,fc629d3dc5474356,2020-01-30 00:00:00,2020-02-02,27in 4K gaming monitor,891b,360.42,website,affiliate,unknown,US

There are a few, let's delete those.

In [5]:
df_orders.drop_duplicates(inplace = True)

### 1st column USER_ID

Let's check if there are non-string types in the values.

In [6]:
i = 0
while i < len(df_orders):
    if not isinstance(df_orders['USER_ID'].iloc[i], str):
        print(f"Index {i}, Format {type(df_orders['USER_ID'].iloc[i])}, Value: {df_orders['USER_ID'].iloc[i]}")
    i = i+1

Index 14, Format <class 'int'>, Value: 68673786
Index 74, Format <class 'int'>, Value: 14934774
Index 85, Format <class 'int'>, Value: 2858600000000000012200257257472
Index 103, Format <class 'int'>, Value: 83453728
Index 118, Format <class 'int'>, Value: 15827421
Index 134, Format <class 'int'>, Value: 23949611
Index 140, Format <class 'int'>, Value: 9321099999999999486643772227779884059866950819426060179294460368168198587821347206856704
Index 165, Format <class 'int'>, Value: 78548048
Index 166, Format <class 'int'>, Value: 78548048
Index 173, Format <class 'int'>, Value: 4087999999999999836946953680523207114752
Index 208, Format <class 'int'>, Value: 91703440
Index 209, Format <class 'int'>, Value: 91703440
Index 228, Format <class 'int'>, Value: 13462209
Index 255, Format <class 'int'>, Value: 50911000000000000000
Index 281, Format <class 'int'>, Value: 76211116
Index 282, Format <class 'int'>, Value: 24280780
Index 347, Format <class 'int'>, Value: 40134030
Index 392, Format <class 'int'>, Value: 63636763
Index 417, Format <class 'int'>, Value: 64992806
Index 427, Format <class 'int'>, Value: 34751056
Index 438, Format <class 'int'>, Value: 11194430
Index 513, Format <class 'int'>, Value: 249061
Index 662, Format <class 'int'>, Value: 23155607
Index 700, Format <class 'int'>, Value: 39957730
Index 714, Format <class 'int'>, Value: 78811626
Index 778, Format <class 'int'>, Value: 89929017
Index 779, Format <class 'int'>, Value: 89929017
Index 836, Format <class 'int'>, Value: 24652364
Index 848, Format <class 'int'>, Value: 33417688
Index 862, Format <class 'int'>, Value: 27918436
Index 891, Format <class 'int'>, Value: 62441942
Index 947, Format <class 'int'>, Value: 31297184
Index 957, Format <class 'int'>, Value: 202606000
Index 965, Format <class 'int'>, Value: 10275678
Index 967, Format <class 'int'>, Value: 35160385
Index 995, Format <class 'int'>, Value: 61160376
Index 1011, Format <class 'int'>, Value: 71156433
Index 1040, Format <class 'int'>, Value: 52209620
Index 1041, Format <class 'int'>, Value: 52209620
Index 1155, Format <class 'int'>, Value: 40320163
Index 1156, Format <class 'int'>, Value: 42953129
Index 1211, Format <class 'int'>, Value: 34371950
Index 1245, Format <class 'int'>, Value: 16502783
Index 1256, Format <class 'int'>, Value: 40432663
Index 1278, Format <class 'int'>, Value: 97302889
Index 1313, Format <class 'int'>, Value: 74389219
Index 1333, Format <class 'int'>, Value: 60215676
Index 1346, Format <class 'int'>, Value: 70865080
Index 1410, Format <class 'int'>, Value: 12576301
Index 1466, Format <class 'int'>, Value: 99360927
Index 1480, Format <class 'int'>, Value: 6828381
Index 1484, Format <class 'int'>, Value: 54368461
Index 1496, Format <class 'int'>, Value: 731170000
Index 1497, Format <class 'int'>, Value: 731170000
Index 1499, Format <class 'int'>, Value: 76452667
Index 1515, Format <class 'int'>, Value: 55460546
Index 1573, Format <class 'int'>, Value: 44468821
Index 1576, Format <class 'int'>, Value: 3472400000000000048770425147552740471432740473057312768
Index 1686, Format <class 'int'>, Value: 87030352
Index 1717, Format <class 'int'>, Value: 52153104
Index 1725, Format <class 'int'>, Value: 35233398
Index 1741, Format <class 'int'>, Value: 57756241
Index 1761, Format <class 'int'>, Value: 30957456
Index 1795, Format <class 'int'>, Value: 79833496
Index 1804, Format <class 'int'>, Value: 17829156
Index 1815, Format <class 'int'>, Value: 69246151
Index 1834, Format <class 'int'>, Value: 73715000000000004720825184975824497114577067048960
Index 1841, Format <class 'int'>, Value: 78555200
Index 1855, Format <class 'int'>, Value: 10951855
Index 1871, Format <class 'int'>, Value: 67755115
Index 1903, Format <class 'int'>, Value: 8028360
Index 1917, Format <class 'int'>, Value: 47509123
Index 1928, Format <class 'int'>, Value: 6845352
Index 2010, Format <class 'int'>, Value: 89810780
Index 2013, Format <class 'int'>, Value: 25473048
Index 2102, Format <class 'int'>, Value: 16641970
Index 2115, Format <class 'int'>, Value: 90942761
Index 2139, Format <class 'int'>, Value: 933078000000
Index 2180, Format <class 'int'>, Value: 87180029
Index 2242, Format <class 'int'>, Value: 64000000000000002101859999309115269055168804247015148512788059280559808441522431714816084200174554411772768306196635877033503400589535477760
Index 2243, Format <class 'int'>, Value: 64000000000000002101859999309115269055168804247015148512788059280559808441522431714816084200174554411772768306196635877033503400589535477760
Index 2300, Format <class 'int'>, Value: 77120937
Index 2391, Format <class 'int'>, Value: 5294464
Index 2447, Format <class 'int'>, Value: 366980000
Index 2493, Format <class 'int'>, Value: 20005233
Index 2569, Format <class 'int'>, Value: 11660033
Index 2578, Format <class 'int'>, Value: 79209894
Index 2584, Format <class 'int'>, Value: 560211000000
Index 2618, Format <class 'int'>, Value: 970353
Index 2715, Format <class 'int'>, Value: 27687447
Index 2768, Format <class 'int'>, Value: 55128106
Index 2778, Format <class 'int'>, Value: 88013529
Index 2828, Format <class 'int'>, Value: 95183613
Index 2958, Format <class 'int'>, Value: 33175999999999998950439557446648201349972442394987335621500556064451194312250705838080
Index 2968, Format <class 'int'>, Value: 1838299999999999988302251167875545821225705061538517714927989346112205488712393677210626898226315264
Index 2976, Format <class 'int'>, Value: 74970966
Index 3001, Format <class 'int'>, Value: 36592977
Index 3021, Format <class 'int'>, Value: 97502033
Index 3047, Format <class 'int'>, Value: 55980940
Index 3073, Format <class 'int'>, Value: 41368614
Index 3080, Format <class 'int'>, Value: 75651807
Index 3117, Format <class 'int'>, Value: 77153776
Index 3125, Format <class 'int'>, Value: 5483799999999999802389189851697085677568
Index 3145, Format <class 'int'>, Value: 85827279
Index 3167, Format <class 'int'>, Value: 93347010
Index 3179, Format <class 'int'>, Value: 8138326
Index 3196, Format <class 'int'>, Value: 90586598
Index 3214, Format <class 'int'>, Value: 47358300000
Index 3220, Format <class 'int'>, Value: 23035531
Index 3252, Format <class 'int'>, Value: 412399999999999973656219183678165684820800693891398972233793368447519110562907399129386394320896
Index 3266, Format <class 'int'>, Value: 25594690
Index 3343, Format <class 'int'>, Value: 30485616
Index 3362, Format <class 'int'>, Value: 77015172
Index 3415, Format <class 'int'>, Value: 97308675
Index 3441, Format <class 'int'>, Value: 95734012
Index 3510, Format <class 'int'>, Value: 24864921
Index 3524, Format <class 'int'>, Value: 74617999999999997584245723283533159050579738459300496277597800060045417774097367040
Index 3525, Format <class 'int'>, Value: 74617999999999997584245723283533159050579738459300496277597800060045417774097367040
Index 3582, Format <class 'int'>, Value: 268826
Index 3616, Format <class 'int'>, Value: 72290000000000003365990498460034555781013777814218322231455987464667136
Index 3702, Format <class 'int'>, Value: 93383419
Index 3834, Format <class 'int'>, Value: 90720600000000
Index 3851, Format <class 'int'>, Value: 25342437
Index 3898, Format <class 'int'>, Value: 36177616
Index 3899, Format <class 'int'>, Value: 36177616
Index 3941, Format <class 'int'>, Value: 18878008
Index 3982, Format <class 'int'>, Value: 90680400
Index 4005, Format <class 'int'>, Value: 81049000
Index 4012, Format <class 'int'>, Value: 41277208
Index 4066, Format <class 'int'>, Value: 42274307
Index 4131, Format <class 'int'>, Value: 80915264
Index 4134, Format <class 'int'>, Value: 92707998
Index 4176, Format <class 'int'>, Value: 99996498
Index 4200, Format <class 'int'>, Value: 69044494
Index 4211, Format <class 'int'>, Value: 9338600000
Index 4305, Format <class 'int'>, Value: 67881840
Index 4306, Format <class 'int'>, Value: 2730025
Index 4307, Format <class 'int'>, Value: 2730025
Index 4363, Format <class 'int'>, Value: 30681965
Index 4364, Format <class 'int'>, Value: 27307039
Index 4366, Format <class 'int'>, Value: 79996844
Index 4413, Format <class 'int'>, Value: 38941549
Index 4420, Format <class 'int'>, Value: 54340701
Index 4422, Format <class 'int'>, Value: 62631398
Index 4461, Format <class 'int'>, Value: 43676752
Index 4467, Format <class 'int'>, Value: 10740332
Index 4468, Format <class 'int'>, Value: 10740332
Index 4479, Format <class 'int'>, Value: 23782553
Index 4513, Format <class 'int'>, Value: 43485621
Index 4538, Format <class 'int'>, Value: 22298952
Index 4559, Format <class 'int'>, Value: 78720203
Index 4576, Format <class 'int'>, Value: 62335363
Index 4579, Format <class 'int'>, Value: 38491720
Index 4599, Format <class 'int'>, Value: 2446054
Index 4656, Format <class 'int'>, Value: 41175135
Index 4868, Format <class 'int'>, Value: 874000000000000001077512141240356504866286083453592809627002890803040268425729400438328994409509552128
Index 4881, Format <class 'int'>, Value: 35307200
Index 4937, Format <class 'int'>, Value: 84151978
Index 5025, Format <class 'int'>, Value: 34016481
Index 5178, Format <class 'int'>, Value: 52038408
Index 5225, Format <class 'int'>, Value: 96041963
Index 5260, Format <class 'int'>, Value: 62435000
Index 5323, Format <class 'int'>, Value: 49084282
Index 5384, Format <class 'int'>, Value: 631691
Index 5411, Format <class 'int'>, Value: 96421617
Index 5416, Format <class 'int'>, Value: 69670754
Index 5479, Format <class 'int'>, Value: 3694301
Index 5480, Format <class 'int'>, Value: 68799600
Index 5570, Format <class 'int'>, Value: 16568347
Index 5577, Format <class 'int'>, Value: 88219681
Index 5580, Format <class 'int'>, Value: 61161079
Index 5584, Format <class 'int'>, Value: 10914725
Index 5603, Format <class 'int'>, Value: 98974173
Index 5640, Format <class 'int'>, Value: 8867750
Index 5708, Format <class 'int'>, Value: 98275755
Index 5791, Format <class 'int'>, Value: 73969999999999994794489037208637288366892662629487050340951509785140714142719931752855132926568601196236410603110217202524862030483299339435246251436670976
Index 5827, Format <class 'int'>, Value: 74474425
Index 5879, Format <class 'int'>, Value: 87143432
Index 5942, Format <class 'int'>, Value: 99530647
Index 5949, Format <class 'int'>, Value: 93316170
Index 5970, Format <class 'int'>, Value: 39028000000
Index 5980, Format <class 'int'>, Value: 30869260
Index 5987, Format <class 'int'>, Value: 5933023
Index 6051, Format <class 'int'>, Value: 27051174
Index 6099, Format <class 'int'>, Value: 185974
Index 6126, Format <class 'int'>, Value: 12984909
Index 6129, Format <class 'int'>, Value: 78652800000
Index 6172, Format <class 'int'>, Value: 3595813
Index 6192, Format <class 'int'>, Value: 45333844
Index 6265, Format <class 'int'>, Value: 78612847
Index 6272, Format <class 'int'>, Value: 6462644
Index 6312, Format <class 'int'>, Value: 86122548
Index 6347, Format <class 'int'>, Value: 33263878
Index 6398, Format <class 'int'>, Value: 42530956
Index 6399, Format <class 'int'>, Value: 42530956
Index 6402, Format <class 'int'>, Value: 52720324
Index 6423, Format <class 'int'>, Value: 31230562
Index 6493, Format <class 'int'>, Value: 84220697
Index 6499, Format <class 'int'>, Value: 68883905
Index 6502, Format <class 'int'>, Value: 34248988
Index 6503, Format <class 'int'>, Value: 34248988
Index 6528, Format <class 'int'>, Value: 41417000000000001388410086952943653300070294487040
Index 6558, Format <class 'int'>, Value: 30470782
Index 6580, Format <class 'int'>, Value: 28078686
Index 6634, Format <class 'int'>, Value: 3309959
Index 6676, Format <class 'int'>, Value: 54210798
Index 6751, Format <class 'int'>, Value: 74583152
Index 6781, Format <class 'int'>, Value: 69513106
Index 6815, Format <class 'int'>, Value: 568000000000000046016835983447045125792602589897970145785456623616
Index 6821, Format <class 'int'>, Value: 1353999999999999927018220707409682380746414336935723008
Index 6853, Format <class 'int'>, Value: 91439092
Index 6860, Format <class 'int'>, Value: 344489999999999994878622729665653552004914342817708376064
Index 6891, Format <class 'int'>, Value: 1043000000000000079446056150746135794444984355519171934622904492202692570925422870528
Index 6921, Format <class 'int'>, Value: 3485710
Index 6922, Format <class 'int'>, Value: 14450856
Index 6926, Format <class 'int'>, Value: 43037721
Index 6968, Format <class 'int'>, Value: 54376261
Index 6971, Format <class 'int'>, Value: 3179959
Index 7015, Format <class 'int'>, Value: 44095263
Index 7016, Format <class 'int'>, Value: 67191949
Index 7067, Format <class 'int'>, Value: 40559725
Index 7168, Format <class 'int'>, Value: 795880000
Index 7169, Format <class 'int'>, Value: 795880000
Index 7192, Format <class 'int'>, Value: 7730000000000000296021326131916073414208448529657112514390382519303096372548832790659260110031445476924374178667186937892020488633089063054085867478366621794668877234990261988603059647364131018244200775527799381907472384
Index 7193, Format <class 'int'>, Value: 7730000000000000296021326131916073414208448529657112514390382519303096372548832790659260110031445476924374178667186937892020488633089063054085867478366621794668877234990261988603059647364131018244200775527799381907472384
Index 7212, Format <class 'int'>, Value: 97814632
Index 7233, Format <class 'int'>, Value: 176207000
Index 7236, Format <class 'int'>, Value: 79689085
Index 7286, Format <class 'int'>, Value: 17493941
Index 7312, Format <class 'int'>, Value: 53720300000000
Index 7313, Format <class 'int'>, Value: 53720300000000
Index 7339, Format <class 'int'>, Value: 88606526
Index 7346, Format <class 'int'>, Value: 58712346
Index 7375, Format <class 'int'>, Value: 99427474
Index 7433, Format <class 'int'>, Value: 50410542
Index 7451, Format <class 'int'>, Value: 24921520
Index 7479, Format <class 'int'>, Value: 6929116
Index 7491, Format <class 'int'>, Value: 96887594
Index 7520, Format <class 'int'>, Value: 795880000
Index 7552, Format <class 'int'>, Value: 34969769
Index 7553, Format <class 'int'>, Value: 88326633
Index 7554, Format <class 'int'>, Value: 35890246
Index 7601, Format <class 'int'>, Value: 32470960
Index 7634, Format <class 'int'>, Value: 19430657
Index 7703, Format <class 'int'>, Value: 9449999999999999802006987914241282418845600625184310266764842814613342674655170456851578880
Index 7731, Format <class 'int'>, Value: 5802400000000000268424384860322555510365605322456535347538101019428945698812706567269384192
Index 7790, Format <class 'int'>, Value: 8275500000000000289655290472382417473904302210693832672350040161693611327488
Index 7914, Format <class 'int'>, Value: 387435
Index 7918, Format <class 'int'>, Value: 39456600
Index 7919, Format <class 'int'>, Value: 95884100000
Index 7950, Format <class 'int'>, Value: 46139559
Index 7961, Format <class 'int'>, Value: 66467570
Index 7969, Format <class 'int'>, Value: 47562582
Index 7975, Format <class 'int'>, Value: 53526696
Index 7991, Format <class 'int'>, Value: 90586598
Index 7992, Format <class 'int'>, Value: 89904548
Index 8080, Format <class 'int'>, Value: 33654619
Index 8120, Format <class 'int'>, Value: 76792790
Index 8139, Format <class 'int'>, Value: 44081332
Index 8228, Format <class 'int'>, Value: 98064872
Index 8249, Format <class 'int'>, Value: 47562582
Index 8264, Format <class 'int'>, Value: 54760765
Index 8348, Format <class 'int'>, Value: 10818242
Index 8358, Format <class 'int'>, Value: 62101628
Index 8364, Format <class 'int'>, Value: 3267284
Index 8450, Format <class 'int'>, Value: 22060903
Index 8456, Format <class 'int'>, Value: 68561000000000002896152680935102349312
Index 8488, Format <class 'int'>, Value: 12086100000
Index 8637, Format <class 'int'>, Value: 31332100
Index 8649, Format <class 'int'>, Value: 563100000000000010398042531169287364723260990018520701064060136206536221392896
Index 8667, Format <class 'int'>, Value: 2742100000000000035976556720334401825065140224
Index 8681, Format <class 'int'>, Value: 48160528
Index 8706, Format <class 'int'>, Value: 38252345
Index 8810, Format <class 'int'>, Value: 82278213
Index 8812, Format <class 'int'>, Value: 15507680
Index 8853, Format <class 'int'>, Value: 8374399999999999698010112
Index 8902, Format <class 'int'>, Value: 97346300
Index 8903, Format <class 'int'>, Value: 97346300
Index 8911, Format <class 'int'>, Value: 9472669
Index 9002, Format <class 'int'>, Value: 87522111
Index 9028, Format <class 'int'>, Value: 43870794
Index 9075, Format <class 'int'>, Value: 446970000000000005767168
Index 9132, Format <class 'int'>, Value: 9314550
Index 9145, Format <class 'int'>, Value: 5374900000000000277381211597535449877132113865602959406898739082577389720673544094221336576
Index 9223, Format <class 'int'>, Value: 31539363
Index 9236, Format <class 'int'>, Value: 75762071
Index 9243, Format <class 'int'>, Value: 50134054
Index 9285, Format <class 'int'>, Value: 71801999999999998528000622592
Index 9355, Format <class 'int'>, Value: 70671853
Index 9368, Format <class 'int'>, Value: 81990244
Index 9574, Format <class 'int'>, Value: 34009581
Index 9576, Format <class 'int'>, Value: 11414644
Index 9627, Format <class 'int'>, Value: 24934233
Index 9635, Format <class 'int'>, Value: 26520291
Index 9642, Format <class 'int'>, Value: 20724414
Index 9643, Format <class 'int'>, Value: 20724414
Index 9645, Format <class 'int'>, Value: 78476797
Index 9658, Format <class 'int'>, Value: 5819585
Index 9674, Format <class 'int'>, Value: 17777737
Index 9675, Format <class 'int'>, Value: 17777737
Index 9700, Format <class 'int'>, Value: 896568000000000
Index 9729, Format <class 'int'>, Value: 78236660
Index 9734, Format <class 'int'>, Value: 21515984
Index 9766, Format <class 'int'>, Value: 46244477
Index 9769, Format <class 'int'>, Value: 49068162
Index 9798, Format <class 'int'>, Value: 73302400
Index 9831, Format <class 'int'>, Value: 30844512
Index 9865, Format <class 'int'>, Value: 42486000000000
Index 10004, Format <class 'int'>, Value: 1169400000000000064129571902870787968691918168111468795930016806338560
Index 10017, Format <class 'int'>, Value: 21021000000
Index 10051, Format <class 'int'>, Value: 43587650
Index 10141, Format <class 'int'>, Value: 84840726
Index 10143, Format <class 'int'>, Value: 204190000000000005414136183783424
Index 10144, Format <class 'int'>, Value: 204190000000000005414136183783424
Index 10163, Format <class 'int'>, Value: 66915545
Index 10165, Format <class 'int'>, Value: 79756569
Index 10190, Format <class 'int'>, Value: 72136891
Index 10207, Format <class 'int'>, Value: 8155970000
Index 10243, Format <class 'int'>, Value: 45632000000000002394642153034925396905395604448099897972497580032
Index 10274, Format <class 'int'>, Value: 80419281
Index 10289, Format <class 'int'>, Value: 58442013
Index 10290, Format <class 'int'>, Value: 56646293
Index 10309, Format <class 'int'>, Value: 52198045
Index 10360, Format <class 'int'>, Value: 66258128
Index 10386, Format <class 'int'>, Value: 75319864
Index 10505, Format <class 'int'>, Value: 62309304
Index 10511, Format <class 'int'>, Value: 960869999999999956649470013694655665385885943329213393320714316554566866676124292659281920
Index 10631, Format <class 'int'>, Value: 84069330
Index 10637, Format <class 'int'>, Value: 76315999999999994606729231128655388555807803406366636118528020848178180386717696
Index 10711, Format <class 'int'>, Value: 35664859
Index 10797, Format <class 'int'>, Value: 84840726
Index 10812, Format <class 'int'>, Value: 64938464
Index 10819, Format <class 'int'>, Value: 39484648
Index 10826, Format <class 'int'>, Value: 34258514
Index 10831, Format <class 'int'>, Value: 5597509
Index 10901, Format <class 'int'>, Value: 69700599
Index 10925, Format <class 'int'>, Value: 35820688
Index 10930, Format <class 'int'>, Value: 828877000000
Index 10976, Format <class 'int'>, Value: 31150108
Index 11077, Format <class 'int'>, Value: 89062041
Index 11083, Format <class 'int'>, Value: 4331153
Index 11089, Format <class 'int'>, Value: 34055312
Index 11120, Format <class 'int'>, Value: 72744414

We can see that all the non-string lines are in int format because they are composed exclusively of numbers.

In [7]:
df_orders['USER_ID'] = df_orders['USER_ID'].astype('string')

We also notice that some IDs are uncommonly long in comparison with the rest of the user IDs, let's make a list of all those lines to check with the (fictional) stakeholders at the source of this data.

In [8]:
long_userIDs_list = df_orders[df_orders['USER_ID'].apply(lambda x: len(x)>8)].copy()

### 2nd column ORDER_ID

Let's check if there are non-string types in the values.

In [9]:
i = 0
while i < len(df_orders):
    if not isinstance (df_orders['ORDER_ID'].iloc[i],str):
        print(f"Index {i}, Format {type(df_orders['ORDER_ID'].iloc[i])}, Value: {df_orders['ORDER_ID'].loc[i]}")
    i = i+1

All the values already are strings, we can thus convert the column.

In [10]:
df_orders['ORDER_ID'] = df_orders['ORDER_ID'].astype('string')

Logically, we shouldn't have any duplicate order IDs in this table. Let's check.

In [11]:
df_orders[df_orders['ORDER_ID'].duplicated(keep = False)]

,USER_ID,ORDER_ID,PURCHASE_TS,SHIP_TS,PRODUCT_NAME,PRODUCT_ID,USD_PRICE,PURCHASE_PLATFORM,MARKETING_CHANNEL,ACCOUNT_CREATION_METHOD,COUNTRY_CODE
9921,e80b93ad,815caec5eb998020,2020-01-30 00:00:00,2020-01-31,27in 4K gaming monitor,891b,408.20,website,email,mobile,DE
9922,e80b93ad,815caec5eb998020,2020-01-30 00:00:00,2020-01-31,27in 4K gaming monitor,891b,408.20,website,email,desktop,DE
13502,3bb56d71,add88586a5827183,2020-01-22 00:00:00,2020-01-23,27in 4K gaming monitor,891b,484.89,website,email,mobile,GB
13503,3bb56d71,add88586a5827183,2020-01-22 00:00:00,2020-01-23,27in 4K gaming monitor,891b,484.89,website,email,desktop,GB
18909,52e2062d,e44ebe4eed936564,2021-02-10 00:00:00,2021-02-11,Nintendo Switch,e682,102.88,website,direct,desktop,MX
...,...,...,...,...,...,...,...,...,...,...,...
21735,b0a2896,fecc9d6766231653,2021-02-22 00:00:00,2021-02-25,Nintendo Switch,8d0d,184.90,website,direct,desktop,GB
21742,e69c1f1e,fede5c24b0797422,2021-02-23 00:00:00,2021-02-25,Nintendo Switch,8d0d,142.80,website,direct,desktop,US
21743,9c12903,fede5c24b0797422,2021-02-23 00:00:00,2021-02-25,Nintendo Switch,8d0d,142.80,website,direct,desktop,US
21751,ebf6f56d,fef061c2a1499684,2021-02-06 00:00:00,2021-02-09,Nintendo Switch,e682,164.42,website,direct,desktop,ES
21752,f6f3685,fef061c2a1499684,2021-02-06 00:00:00,2021-02-09,Nintendo Switch,e682,164.42,website,direct,desktop,ES

We unfortunately found duplicates with various differences in the other fields. As there is no way to identify which line is the right one, let's make a list of all those lines to check with the (fictional) stakeholders at the source of this data.

In [12]:
duplicate_orderID_list = df_orders[df_orders['ORDER_ID'].duplicated(keep = False)].copy()

Let's put it on the side and keep going.

### 3rd column PURCHASE_TS

Let's check if there are non-date types in the values and transform it to timestamp.

In [13]:
import datetime

In [14]:
i = 0
while i < len(df_orders):
    if not isinstance(df_orders['PURCHASE_TS'].iloc[i],datetime.datetime):
        print(f"Index {i}, Format {type(df_orders['PURCHASE_TS'].iloc[i])}, Value: {df_orders['PURCHASE_TS'].iloc[i]}")
    i = i+1

Index 1047, Format <class 'str'>, Value:
Index 1251, Format <class 'str'>, Value: 12-31-2020 01:54:35
Index 5846, Format <class 'str'>, Value: 06-14-2019 13:62:38
Index 7363, Format <class 'str'>, Value: 12-31-2020 01:54:34
Index 9715, Format <class 'str'>, Value: 12-31-2020 01:54:33
Index 10009, Format <class 'str'>, Value: 12-31-2020 01:54:44
Index 10886, Format <class 'str'>, Value: 12-31-2020 01:54:40
Index 11847, Format <class 'str'>, Value: 06-14-2019 13:62:39
Index 14561, Format <class 'str'>, Value: 12-31-2020 01:54:39
Index 16141, Format <class 'str'>, Value: 06-14-2019 13:62:34
Index 20693, Format <class 'str'>, Value: 06-14-2019 13:62:41

In [15]:
i = 0
while i < len(df_orders):
    if not isinstance(df_orders['PURCHASE_TS'].iloc[i],datetime.datetime):
        print(f"Index {i}, Current value: {df_orders['PURCHASE_TS'].iloc[i]}, New timestamp value : {pd.to_datetime(df_orders['PURCHASE_TS'].iloc[i].split(' ')[0], errors = 'coerce')}")
    i = i+1

Index 1047, Current value:   , New timestamp value : NaT
Index 1251, Current value: 12-31-2020 01:54:35, New timestamp value : 2020-12-31 00:00:00
Index 5846, Current value: 06-14-2019 13:62:38, New timestamp value : 2019-06-14 00:00:00
Index 7363, Current value: 12-31-2020 01:54:34, New timestamp value : 2020-12-31 00:00:00
Index 9715, Current value: 12-31-2020 01:54:33, New timestamp value : 2020-12-31 00:00:00
Index 10009, Current value: 12-31-2020 01:54:44, New timestamp value : 2020-12-31 00:00:00
Index 10886, Current value: 12-31-2020 01:54:40, New timestamp value : 2020-12-31 00:00:00
Index 11847, Current value: 06-14-2019 13:62:39, New timestamp value : 2019-06-14 00:00:00
Index 14561, Current value: 12-31-2020 01:54:39, New timestamp value : 2020-12-31 00:00:00
Index 16141, Current value: 06-14-2019 13:62:34, New timestamp value : 2019-06-14 00:00:00
Index 20693, Current value: 06-14-2019 13:62:41, New timestamp value : 2019-06-14 00:00:00

In [16]:
i = 0
while i < len(df_orders):
    if not isinstance(df_orders['PURCHASE_TS'].iloc[i],datetime.datetime):
        df_orders.loc[df_orders.index[i],'PURCHASE_TS'] = pd.to_datetime(df_orders['PURCHASE_TS'].iloc[i].split(' ')[0], errors = 'coerce')
    else:
        df_orders.loc[df_orders.index[i],'PURCHASE_TS'] = pd.to_datetime(df_orders['PURCHASE_TS'].iloc[i])
    i = i+1

In [17]:
df_orders['PURCHASE_TS'] = pd.to_datetime(df_orders['PURCHASE_TS'], errors='coerce')

In [18]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21829 entries, 0 to 21863
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   USER_ID                  21829 non-null  string
 1   ORDER_ID                 21829 non-null  string
 2   PURCHASE_TS              21828 non-null  datetime64[ns]
 3   SHIP_TS                  21829 non-null  datetime64[ns]
 4   PRODUCT_NAME             21829 non-null  object
 5   PRODUCT_ID               21829 non-null  object
 6   USD_PRICE                21824 non-null  float64
 7   PURCHASE_PLATFORM        21829 non-null  object
 8   MARKETING_CHANNEL        21746 non-null  object
 9   ACCOUNT_CREATION_METHOD  21746 non-null  object
 10  COUNTRY_CODE             21791 non-null  object
dtypes: datetime64[ns](2), float64(1), object(6), string(2)
memory usage: 2.5+ MB

There is one null value in this column. Let's ignore it as the impact is very limited.

### 4th column SHIP_TS

This column doesn't have nulls and is already clean.

In [19]:
df_orders[df_orders['SHIP_TS'] < df_orders['PURCHASE_TS']]

,USER_ID,ORDER_ID,PURCHASE_TS,SHIP_TS,PRODUCT_NAME,PRODUCT_ID,USD_PRICE,PURCHASE_PLATFORM,MARKETING_CHANNEL,ACCOUNT_CREATION_METHOD,COUNTRY_CODE
0,2c06175e,0001328c3c220830,2020-12-24,2020-12-13,Nintendo Switch,e682,168.00,website,affiliate,unknown,US
1,ee8e5bc2,0002af7a5c6100772,2020-10-01,2020-09-21,Nintendo Switch,e682,160.61,website,direct,desktop,DE
2,9eb4efe0,0002b8350e167074,2020-04-21,2020-02-16,Nintendo Switch,8d0d,151.20,website,direct,desktop,US
3,cac7cbaf,0006d06b98385729,2020-04-07,2020-04-04,Sony PlayStation 5 Bundle,54ed,1132.82,website,direct,desktop,AU
4,6b0230bc,00097279a2f46150,2020-11-24,2020-08-02,Nintendo Switch,8d0d,33.89,website,direct,desktop,TR
...,...,...,...,...,...,...,...,...,...,...,...
10890,6dcd78e9,8d6795b3b1447377,2020-12-31,2020-02-20,27in 4K gaming monitor,891b,408.00,website,direct,mobile,US
11853,2fa9f33d,99d824517da22388,2019-06-14,2019-04-11,JBL Quantum 100 Gaming Headset,ab0f,21.19,website,direct,mobile,JP
14576,43bbad06,ba7f92bd22730500,2020-12-31,2019-03-31,JBL Quantum 100 Gaming Headset,ab0f,24.00,website,direct,desktop,US
16163,b313cea5,c9e0aea0d9a75871,2019-06-14,2019-05-18,JBL Quantum 100 Gaming Headset,ab0f,19.20,website,direct,desktop,US
20725,67f8050b,f4de38506b644875,2019-06-14,2019-01-17,JBL Quantum 100 Gaming Headset,ab0f,25.69,website,direct,desktop,GB

It seems however that there are many lines in which the shipping date is before the purchasing date, which doesn't make sense. Let's make a list of all those lines to check with the (fictional) stakeholders at the source of this data.

In [20]:
shipping_before_purchase_list = df_orders[df_orders['SHIP_TS'] < df_orders['PURCHASE_TS']].copy()

### 5th column PRODUCT_NAME

Let's check if there are non-string types in the values.

In [21]:
i=0
while i < len(df_orders):
    if not isinstance(df_orders['PRODUCT_NAME'].iloc[i],str):
        print(f"Index {i}, Format {type(df_orders['PRODUCT_NAME'].iloc[i])}, Value {df_orders['PRODUCT_NAME'].iloc[i]}")
    i = i+1

All the values are string types, we can thus convert the column to string dtype.

In [22]:
df_orders['PRODUCT_NAME'] = df_orders['PRODUCT_NAME'].astype('string')

Let's have a look at the product name list.

In [23]:
df_orders['PRODUCT_NAME'].unique()

<StringArray>
[               'Nintendo Switch',      'Sony PlayStation 5 Bundle',
         '27in 4K gaming monitor', 'JBL Quantum 100 Gaming Headset',
              'Dell Gaming Mouse',     'Acer Nitro V Gaming Laptop',
        'Lenovo IdeaPad Gaming 3',       'Razer Pro Gaming Headset',
     '27inches 4k gaming monitor']
Length: 9, dtype: string

The products '27in 4K gaming monitor' and '27inches 4k gaming monitor' seem to be the same, so let's standardize the names by choosing one and renaming the other accordingly.

In [24]:
df_orders.loc[df_orders['PRODUCT_NAME'] == '27in 4K gaming monitor', 'PRODUCT_NAME'] = '27inches 4k gaming monitor'

### 6th column PRODUCT_ID

Let's check if there are non-string types in the values.

In [25]:
i=0
while i < len(df_orders):
    if not isinstance(df_orders['PRODUCT_ID'].iloc[i],str):
        print(f"Index {i}, Format {type(df_orders['PRODUCT_ID'].iloc[i])}, Value {df_orders['PRODUCT_ID'].iloc[i]}")
    i = i+1

Index 21, Format <class 'int'>, Value 2997
Index 59, Format <class 'int'>, Value 8315
Index 89, Format <class 'int'>, Value 5142
Index 90, Format <class 'int'>, Value 5142
Index 91, Format <class 'int'>, Value 5142
Index 125, Format <class 'int'>, Value 8315
Index 134, Format <class 'int'>, Value 8315
Index 216, Format <class 'int'>, Value 1238
Index 224, Format <class 'int'>, Value 2997
Index 225, Format <class 'int'>, Value 2997
Index 243, Format <class 'int'>, Value 2997
Index 363, Format <class 'int'>, Value 2997
Index 392, Format <class 'int'>, Value 8315
Index 440, Format <class 'int'>, Value 8315
Index 448, Format <class 'int'>, Value 8315
Index 472, Format <class 'int'>, Value 5142
Index 497, Format <class 'int'>, Value 2997
Index 511, Format <class 'int'>, Value 2997
Index 526, Format <class 'int'>, Value 8315
Index 549, Format <class 'int'>, Value 8315
Index 550, Format <class 'int'>, Value 8315
Index 578, Format <class 'int'>, Value 7416
Index 599, Format <class 'int'>, Value 8315
Index 619, Format <class 'int'>, Value 2997
Index 620, Format <class 'int'>, Value 2997
Index 671, Format <class 'int'>, Value 8315
Index 709, Format <class 'int'>, Value 7416
Index 768, Format <class 'int'>, Value 8315
Index 769, Format <class 'int'>, Value 8315
Index 786, Format <class 'int'>, Value 2997
Index 792, Format <class 'int'>, Value 5142
Index 847, Format <class 'int'>, Value 2997
Index 874, Format <class 'int'>, Value 8315
Index 905, Format <class 'int'>, Value 8315
Index 921, Format <class 'int'>, Value 8315
Index 926, Format <class 'int'>, Value 8315
Index 927, Format <class 'int'>, Value 8315
Index 947, Format <class 'int'>, Value 8315
Index 954, Format <class 'int'>, Value 8315
Index 965, Format <class 'int'>, Value 8315
Index 989, Format <class 'int'>, Value 8315
Index 1037, Format <class 'int'>, Value 8315
Index 1058, Format <class 'int'>, Value 8315
Index 1063, Format <class 'int'>, Value 8315
Index 1117, Format <class 'int'>, Value 8315
Index 1118, Format <class 'int'>, Value 8315
Index 1120, Format <class 'int'>, Value 8315
Index 1122, Format <class 'int'>, Value 8315
Index 1125, Format <class 'int'>, Value 2997
Index 1138, Format <class 'int'>, Value 8315
Index 1146, Format <class 'int'>, Value 8315
Index 1174, Format <class 'int'>, Value 8315
Index 1205, Format <class 'int'>, Value 8315
Index 1210, Format <class 'int'>, Value 8315
Index 1260, Format <class 'int'>, Value 2997
Index 1284, Format <class 'int'>, Value 8315
Index 1453, Format <class 'int'>, Value 8315
Index 1475, Format <class 'int'>, Value 8315
Index 1496, Format <class 'int'>, Value 5142
Index 1497, Format <class 'int'>, Value 5142
Index 1592, Format <class 'int'>, Value 8315
Index 1595, Format <class 'int'>, Value 1238
Index 1610, Format <class 'int'>, Value 8315
Index 1633, Format <class 'int'>, Value 8315
Index 1677, Format <class 'int'>, Value 5142
Index 1777, Format <class 'int'>, Value 8315
Index 1796, Format <class 'int'>, Value 2997
Index 1814, Format <class 'int'>, Value 5142
Index 1832, Format <class 'int'>, Value 8315
Index 1859, Format <class 'int'>, Value 7416
Index 2008, Format <class 'int'>, Value 8315
Index 2014, Format <class 'int'>, Value 8315
Index 2026, Format <class 'int'>, Value 8315
Index 2058, Format <class 'int'>, Value 8315
Index 2118, Format <class 'int'>, Value 8315
Index 2127, Format <class 'int'>, Value 8315
Index 2130, Format <class 'int'>, Value 8315
Index 2136, Format <class 'int'>, Value 8315
Index 2153, Format <class 'int'>, Value 8315
Index 2158, Format <class 'int'>, Value 8315
Index 2171, Format <class 'int'>, Value 8315
Index 2217, Format <class 'int'>, Value 8315
Index 2329, Format <class 'int'>, Value 8315
Index 2366, Format <class 'int'>, Value 8315
Index 2395, Format <class 'int'>, Value 2997
Index 2403, Format <class 'int'>, Value 8315
Index 2417, Format <class 'int'>, Value 2997
Index 2440, Format <class 'int'>, Value 2997
Index 2441, Format <class 'int'>, Value 8315
Index 2473, Format <class 'int'>, Value 2997
Index 2475, Format <class 'int'>, Value 5142
Index 2501, Format <class 'int'>, Value 2997
Index 2524, Format <class 'int'>, Value 8315
Index 2542, Format <class 'int'>, Value 2997
Index 2543, Format <class 'int'>, Value 2997
Index 2656, Format <class 'int'>, Value 2997
Index 2711, Format <class 'int'>, Value 8315
Index 2712, Format <class 'int'>, Value 8315
Index 2713, Format <class 'int'>, Value 2997
Index 2714, Format <class 'int'>, Value 5142
Index 2727, Format <class 'int'>, Value 8315
Index 2747, Format <class 'int'>, Value 8315
Index 2754, Format <class 'int'>, Value 8315
Index 2768, Format <class 'int'>, Value 8315
Index 2770, Format <class 'int'>, Value 8315
Index 2864, Format <class 'int'>, Value 8315
Index 2893, Format <class 'int'>, Value 8315
Index 2937, Format <class 'int'>, Value 2997
Index 2941, Format <class 'int'>, Value 8315
Index 2982, Format <class 'int'>, Value 8315
Index 3031, Format <class 'int'>, Value 8315
Index 3101, Format <class 'int'>, Value 8315
Index 3114, Format <class 'int'>, Value 8315
Index 3174, Format <class 'int'>, Value 8315
Index 3175, Format <class 'int'>, Value 8315
Index 3198, Format <class 'int'>, Value 8315
Index 3313, Format <class 'int'>, Value 7416
Index 3368, Format <class 'int'>, Value 2997
Index 3376, Format <class 'int'>, Value 8315
Index 3395, Format <class 'int'>, Value 8315
Index 3413, Format <class 'int'>, Value 8315
Index 3466, Format <class 'int'>, Value 8315
Index 3564, Format <class 'int'>, Value 8315
Index 3603, Format <class 'int'>, Value 8315
Index 3620, Format <class 'int'>, Value 8315
Index 3621, Format <class 'int'>, Value 5142
Index 3622, Format <class 'int'>, Value 8315
Index 3705, Format <class 'int'>, Value 8315
Index 3796, Format <class 'int'>, Value 2997
Index 3844, Format <class 'int'>, Value 8315
Index 3880, Format <class 'int'>, Value 2997
Index 3881, Format <class 'int'>, Value 2997
Index 3924, Format <class 'int'>, Value 8315
Index 3956, Format <class 'int'>, Value 8315
Index 3959, Format <class 'int'>, Value 7416
Index 3964, Format <class 'int'>, Value 8315
Index 3982, Format <class 'int'>, Value 8315
Index 4048, Format <class 'int'>, Value 8315
Index 4124, Format <class 'int'>, Value 8315
Index 4159, Format <class 'int'>, Value 8315
Index 4192, Format <class 'int'>, Value 8315
Index 4213, Format <class 'int'>, Value 8315
Index 4231, Format <class 'int'>, Value 8315
Index 4232, Format <class 'int'>, Value 8315
Index 4241, Format <class 'int'>, Value 8315
Index 4248, Format <class 'int'>, Value 8315
Index 4263, Format <class 'int'>, Value 2997
Index 4323, Format <class 'int'>, Value 8315
Index 4338, Format <class 'int'>, Value 8315
Index 4339, Format <class 'int'>, Value 8315
Index 4342, Format <class 'int'>, Value 8315
Index 4343, Format <class 'int'>, Value 8315
Index 4357, Format <class 'int'>, Value 8315
Index 4359, Format <class 'int'>, Value 8315
Index 4373, Format <class 'int'>, Value 8315
Index 4379, Format <class 'int'>, Value 2997
Index 4401, Format <class 'int'>, Value 8315
Index 4420, Format <class 'int'>, Value 2997
Index 4465, Format <class 'int'>, Value 8315
Index 4494, Format <class 'int'>, Value 8315
Index 4530, Format <class 'int'>, Value 8315
Index 4564, Format <class 'int'>, Value 7599
Index 4606, Format <class 'int'>, Value 8315
Index 4620, Format <class 'int'>, Value 8315
Index 4628, Format <class 'int'>, Value 8315
Index 4629, Format <class 'int'>, Value 8315
Index 4645, Format <class 'int'>, Value 8315
Index 4656, Format <class 'int'>, Value 8315
Index 4717, Format <class 'int'>, Value 5142
Index 4742, Format <class 'int'>, Value 8315
Index 4745, Format <class 'int'>, Value 2997
Index 4793, Format <class 'int'>, Value 7416
Index 4812, Format <class 'int'>, Value 5142
Index 4830, Format <class 'int'>, Value 5142
Index 4831, Format <class 'int'>, Value 5142
Index 4890, Format <class 'int'>, Value 8315
Index 4933, Format <class 'int'>, Value 8364
Index 4950, Format <class 'int'>, Value 2997
Index 4967, Format <class 'int'>, Value 8315
Index 4995, Format <class 'int'>, Value 8315
Index 5021, Format <class 'int'>, Value 8315
Index 5062, Format <class 'int'>, Value 8315
Index 5096, Format <class 'int'>, Value 8315
Index 5126, Format <class 'int'>, Value 8315
Index 5173, Format <class 'int'>, Value 8315
Index 5184, Format <class 'int'>, Value 8315
Index 5193, Format <class 'int'>, Value 8315
Index 5206, Format <class 'int'>, Value 8315
Index 5229, Format <class 'int'>, Value 8315
Index 5246, Format <class 'int'>, Value 8315
Index 5254, Format <class 'int'>, Value 5142
Index 5265, Format <class 'int'>, Value 8315
Index 5348, Format <class 'int'>, Value 8315
Index 5355, Format <class 'int'>, Value 2997
Index 5356, Format <class 'int'>, Value 8315
Index 5361, Format <class 'int'>, Value 8315
Index 5480, Format <class 'int'>, Value 8315
Index 5511, Format <class 'int'>, Value 8315
Index 5512, Format <class 'int'>, Value 8315
Index 5587, Format <class 'int'>, Value 8315
Index 5600, Format <class 'int'>, Value 2997
Index 5601, Format <class 'int'>, Value 2997
Index 5602, Format <class 'int'>, Value 8315
Index 5607, Format <class 'int'>, Value 8315
Index 5644, Format <class 'int'>, Value 8315
Index 5713, Format <class 'int'>, Value 8315
Index 5714, Format <class 'int'>, Value 8315
Index 5785, Format <class 'int'>, Value 2997
Index 5788, Format <class 'int'>, Value 8315
Index 5793, Format <class 'int'>, Value 2997
Index 5794, Format <class 'int'>, Value 8315
Index 5796, Format <class 'int'>, Value 8315
Index 5827, Format <class 'int'>, Value 8315
Index 5832, Format <class 'int'>, Value 2997
Index 5873, Format <class 'int'>, Value 5142
Index 5879, Format <class 'int'>, Value 8315
Index 5908, Format <class 'int'>, Value 8315
Index 5931, Format <class 'int'>, Value 8315
Index 5945, Format <class 'int'>, Value 8315
Index 6033, Format <class 'int'>, Value 2997
Index 6101, Format <class 'int'>, Value 2997
Index 6110, Format <class 'int'>, Value 8315
Index 6111, Format <class 'int'>, Value 8315
Index 6218, Format <class 'int'>, Value 8315
Index 6230, Format <class 'int'>, Value 8315
Index 6282, Format <class 'int'>, Value 8315
Index 6309, Format <class 'int'>, Value 8315
Index 6321, Format <class 'int'>, Value 8315
Index 6377, Format <class 'int'>, Value 2997
Index 6378, Format <class 'int'>, Value 2997
Index 6383, Format <class 'int'>, Value 5142
Index 6519, Format <class 'int'>, Value 2997
Index 6520, Format <class 'int'>, Value 2997
Index 6545, Format <class 'int'>, Value 2997
Index 6551, Format <class 'int'>, Value 8315
Index 6558, Format <class 'int'>, Value 8315
Index 6579, Format <class 'int'>, Value 8315
Index 6603, Format <class 'int'>, Value 8315
Index 6621, Format <class 'int'>, Value 8315
Index 6626, Format <class 'int'>, Value 8315
Index 6640, Format <class 'int'>, Value 2997
Index 6642, Format <class 'int'>, Value 8315
Index 6657, Format <class 'int'>, Value 8315
Index 6670, Format <class 'int'>, Value 5142
Index 6718, Format <class 'int'>, Value 7416
Index 6843, Format <class 'int'>, Value 5142
Index 6880, Format <class 'int'>, Value 8315
Index 6883, Format <class 'int'>, Value 8315
Index 6911, Format <class 'int'>, Value 8315
Index 6955, Format <class 'int'>, Value 8315
Index 6958, Format <class 'int'>, Value 8315
Index 6986, Format <class 'int'>, Value 8315
Index 7045, Format <class 'int'>, Value 7416
Index 7115, Format <class 'int'>, Value 8315
Index 7123, Format <class 'int'>, Value 8315
Index 7155, Format <class 'int'>, Value 8315
Index 7183, Format <class 'int'>, Value 8315
Index 7197, Format <class 'int'>, Value 8315
Index 7222, Format <class 'int'>, Value 8315
Index 7260, Format <class 'int'>, Value 8315
Index 7292, Format <class 'int'>, Value 8315
Index 7344, Format <class 'int'>, Value 8315
Index 7432, Format <class 'int'>, Value 5142
Index 7487, Format <class 'int'>, Value 7416
Index 7573, Format <class 'int'>, Value 8315
Index 7577, Format <class 'int'>, Value 2997
Index 7582, Format <class 'int'>, Value 7416
Index 7628, Format <class 'int'>, Value 8315
Index 7689, Format <class 'int'>, Value 8315
Index 7707, Format <class 'int'>, Value 8315
Index 7735, Format <class 'int'>, Value 8315
Index 7745, Format <class 'int'>, Value 8315
Index 7799, Format <class 'int'>, Value 8315
Index 7809, Format <class 'int'>, Value 8315
Index 7857, Format <class 'int'>, Value 8315
Index 7878, Format <class 'int'>, Value 7416
Index 7895, Format <class 'int'>, Value 8315
Index 7907, Format <class 'int'>, Value 8315
Index 8021, Format <class 'int'>, Value 8315
Index 8023, Format <class 'int'>, Value 8315
Index 8066, Format <class 'int'>, Value 8315
Index 8145, Format <class 'int'>, Value 7416
Index 8217, Format <class 'int'>, Value 8315
Index 8218, Format <class 'int'>, Value 8315
Index 8289, Format <class 'int'>, Value 7416
Index 8303, Format <class 'int'>, Value 8315
Index 8346, Format <class 'int'>, Value 8315
Index 8399, Format <class 'int'>, Value 8315
Index 8479, Format <class 'int'>, Value 2997
Index 8504, Format <class 'int'>, Value 8315
Index 8531, Format <class 'int'>, Value 8315
Index 8533, Format <class 'int'>, Value 5142
Index 8567, Format <class 'int'>, Value 8315
Index 8598, Format <class 'int'>, Value 8315
Index 8602, Format <class 'int'>, Value 5142
Index 8641, Format <class 'int'>, Value 8315
Index 8647, Format <class 'int'>, Value 8315
Index 8661, Format <class 'int'>, Value 7416
Index 8680, Format <class 'int'>, Value 8315
Index 8699, Format <class 'int'>, Value 8315
Index 8702, Format <class 'int'>, Value 1238
Index 8703, Format <class 'int'>, Value 1238
Index 8704, Format <class 'int'>, Value 8315
Index 8730, Format <class 'int'>, Value 5142
Index 8781, Format <class 'int'>, Value 8315
Index 8802, Format <class 'int'>, Value 8315
Index 8810, Format <class 'int'>, Value 8315
Index 8819, Format <class 'int'>, Value 8315
Index 8904, Format <class 'int'>, Value 8315
Index 8916, Format <class 'int'>, Value 8315
Index 8957, Format <class 'int'>, Value 8315
Index 8966, Format <class 'int'>, Value 8315
Index 8997, Format <class 'int'>, Value 8315
Index 9055, Format <class 'int'>, Value 8315
Index 9060, Format <class 'int'>, Value 8315
Index 9065, Format <class 'int'>, Value 8315
Index 9090, Format <class 'int'>, Value 8315
Index 9111, Format <class 'int'>, Value 8315
Index 9128, Format <class 'int'>, Value 8315
Index 9129, Format <class 'int'>, Value 8315
Index 9139, Format <class 'int'>, Value 8315
Index 9160, Format <class 'int'>, Value 8315
Index 9235, Format <class 'int'>, Value 7416
Index 9241, Format <class 'int'>, Value 8315
Index 9242, Format <class 'int'>, Value 8315
Index 9254, Format <class 'int'>, Value 5142
Index 9282, Format <class 'int'>, Value 2997
Index 9291, Format <class 'int'>, Value 8315
Index 9302, Format <class 'int'>, Value 8315
Index 9382, Format <class 'int'>, Value 8315
Index 9424, Format <class 'int'>, Value 8315
Index 9446, Format <class 'int'>, Value 8315
Index 9467, Format <class 'int'>, Value 8315
Index 9553, Format <class 'int'>, Value 8315
Index 9576, Format <class 'int'>, Value 8315
Index 9587, Format <class 'int'>, Value 8315
Index 9593, Format <class 'int'>, Value 1238
Index 9626, Format <class 'int'>, Value 8315
Index 9667, Format <class 'int'>, Value 2997
Index 9696, Format <class 'int'>, Value 7416
Index 9719, Format <class 'int'>, Value 8315
Index 9721, Format <class 'int'>, Value 8315
Index 9742, Format <class 'int'>, Value 8315
Index 9758, Format <class 'int'>, Value 8315
Index 9817, Format <class 'int'>, Value 8315
Index 9819, Format <class 'int'>, Value 8315
Index 9832, Format <class 'int'>, Value 5142
Index 9848, Format <class 'int'>, Value 5142
Index 9891, Format <class 'int'>, Value 8315
Index 9897, Format <class 'int'>, Value 7416
Index 9899, Format <class 'int'>, Value 8315
Index 9909, Format <class 'int'>, Value 8315
Index 9936, Format <class 'int'>, Value 8315
Index 9969, Format <class 'int'>, Value 2997
Index 9981, Format <class 'int'>, Value 8315
Index 9993, Format <class 'int'>, Value 8315
Index 10016, Format <class 'int'>, Value 8315
Index 10043, Format <class 'int'>, Value 2997
Index 10062, Format <class 'int'>, Value 8315
Index 10079, Format <class 'int'>, Value 8315
Index 10093, Format <class 'int'>, Value 8315
Index 10098, Format <class 'int'>, Value 8315
Index 10143, Format <class 'int'>, Value 8315
Index 10144, Format <class 'int'>, Value 8315
Index 10158, Format <class 'int'>, Value 2997
Index 10224, Format <class 'int'>, Value 8315
Index 10235, Format <class 'int'>, Value 8315
Index 10272, Format <class 'int'>, Value 5142
Index 10273, Format <class 'int'>, Value 5142
Index 10289, Format <class 'int'>, Value 8315
Index 10369, Format <class 'int'>, Value 8315
Index 10383, Format <class 'int'>, Value 2997
Index 10391, Format <class 'int'>, Value 8315
Index 10435, Format <class 'int'>, Value 2997
Index 10448, Format <class 'int'>, Value 8315
Index 10453, Format <class 'int'>, Value 8315
Index 10460, Format <class 'int'>, Value 2997
Index 10619, Format <class 'int'>, Value 8315
Index 10621, Format <class 'int'>, Value 8315
Index 10625, Format <class 'int'>, Value 7416
Index 10660, Format <class 'int'>, Value 8315
Index 10709, Format <class 'int'>, Value 2997
Index 10710, Format <class 'int'>, Value 2997
Index 10722, Format <class 'int'>, Value 8315
Index 10752, Format <class 'int'>, Value 8315
Index 10753, Format <class 'int'>, Value 8315
Index 10775, Format <class 'int'>, Value 8315
Index 10784, Format <class 'int'>, Value 7388
Index 10896, Format <class 'int'>, Value 2997
Index 10912, Format <class 'int'>, Value 8315
Index 10923, Format <class 'int'>, Value 8315
Index 10924, Format <class 'int'>, Value 8315
Index 11034, Format <class 'int'>, Value 8315
Index 11078, Format <class 'int'>, Value 8315
Index 11084, Format <class 'int'>, Value 8315
Index 11085, Format <class 'int'>, Value 8315
Index 11112, Format <class 'int'>, Value 8315
Index 11124, Format <class 'int'>, Value 5142
Index 11150, Format <class 'int'>, Value 8315
Index 11154, Format <class 'int'>, Value 5142
Index 11167, Format <class 'int'>, Value 8315
Index 11204, Format <class 'int'>, Value 8315
Index 11205, Format <class 'int'>, Value 8315
Index 11233, Format <class 'int'>, Value 8315
Index 11257, Format <class 'int'>, Value 8315
Index 11273, Format <class 'int'>, Value 8315
Index 11299, Format <class 'int'>, Value 8315
Index 11362, Format <class 'int'>, Value 8315
Index 11374, Format <class 'int'>, Value 8315
Index 11430, Format <class 'int'>, Value 8315
Index 11469, Format <class 'int'>, Value 2997
Index 11514, Format <class 'int'>, Value 2997
Index 11583, Format <class 'int'>, Value 8315
Index 11625, Format <class 'int'>, Value 2997
Index 11653, Format <class 'int'>, Value 8315
Index 11672, Format <class 'int'>, Value 8315
Index 11681, Format <class 'int'>, Value 5142
Index 11686, Format <class 'int'>, Value 8315
Index 11707, Format <class 'int'>, Value 8315
Index 11724, Format <class 'int'>, Value 8315
Index 11733, Format <class 'int'>, Value 7416
Index 11738, Format <class 'int'>, Value 8315
Index 11816, Format <class 'int'>, Value 8315
Index 11933, Format <class 'int'>, Value 8315
Index 11938, Format <class 'int'>, Value 8315
Index 11952, Format <class 'int'>, Value 7416
Index 12004, Format <class 'int'>, Value 2997
Index 12018, Format <class 'int'>, Value 8315
Index 12019, Format <class 'int'>, Value 8315
Index 12063, Format <class 'int'>, Value 8315
Index 12121, Format <class 'int'>, Value 5142
Index 12244, Format <class 'int'>, Value 8315
Index 12248, Format <class 'int'>, Value 8315
Index 12253, Format <class 'int'>, Value 8315
Index 12254, Format <class 'int'>, Value 8315
Index 12278, Format <class 'int'>, Value 5142
Index 12305, Format <class 'int'>, Value 5142
Index 12313, Format <class 'int'>, Value 8315
Index 12359, Format <class 'int'>, Value 8315
Index 12368, Format <class 'int'>, Value 8315
Index 12372, Format <class 'int'>, Value 8315
Index 12401, Format <class 'int'>, Value 8315
Index 12410, Format <class 'int'>, Value 8315

We can see that all the non-string lines are in int format because they are composed exclusively of numbers.

In [26]:
df_orders['PRODUCT_ID'] = df_orders['PRODUCT_ID'].astype('string')

Let's check the coherence with the PRODUCT_NAME column.

In [27]:
df_orders[['PRODUCT_NAME','PRODUCT_ID']].drop_duplicates().sort_values(by = 'PRODUCT_ID')

                         PRODUCT_NAME PRODUCT_ID
3228                  Nintendo Switch       03ca
182           Lenovo IdeaPad Gaming 3       04ac
127                 Dell Gaming Mouse       0c5a
1256                  Nintendo Switch       0d23
216        27inches 4k gaming monitor       1238
13736       Sony PlayStation 5 Bundle       12b1
107        Acer Nitro V Gaming Laptop       22ea
8088                  Nintendo Switch       24c1
21     JBL Quantum 100 Gaming Headset       2997
615        27inches 4k gaming monitor       2a50
2694   JBL Quantum 100 Gaming Headset       4c58
3147   JBL Quantum 100 Gaming Headset       4db1
18673        Razer Pro Gaming Headset       4f26
89                  Dell Gaming Mouse       5142
3           Sony PlayStation 5 Bundle       54ed
1793                  Nintendo Switch       604c
4051                Dell Gaming Mouse       640d
1828                  Nintendo Switch       6b8d
10788  JBL Quantum 100 Gaming Headset       7388
578                 Dell Gaming Mouse       7416
4564       27inches 4k gaming monitor       7599
996                   Nintendo Switch       7d63
2191       27inches 4k gaming monitor       7f86
59     JBL Quantum 100 Gaming Headset       8315
4933       27inches 4k gaming monitor       8364
6          27inches 4k gaming monitor       891b
2                     Nintendo Switch       8d0d
158                 Dell Gaming Mouse       8d4f
26                    Nintendo Switch       8e5d
6818                  Nintendo Switch       97c6
122           Lenovo IdeaPad Gaming 3       9ef0
601          Razer Pro Gaming Headset       a6be
8      JBL Quantum 100 Gaming Headset       ab0f
981        27inches 4k gaming monitor       ab5d
13175         Lenovo IdeaPad Gaming 3       ae96
2472       27inches 4k gaming monitor       afbf
317                 Dell Gaming Mouse       b0ee
25                    Nintendo Switch       b5f7
3393                  Nintendo Switch       da12
1133        Sony PlayStation 5 Bundle       df85
3697        Sony PlayStation 5 Bundle       e22d
0                     Nintendo Switch       e682
16         27inches 4k gaming monitor       e7e6
17078      27inches 4k gaming monitor       f443
2680   JBL Quantum 100 Gaming Headset       f5ca
88                  Dell Gaming Mouse       f81e

It seems that PRODUCT_NAME has a multiple to one relationship with PRODUCT_ID which can make sense.

### 7th column USD_PRICE

This column is already in float format, let's then check if there is any strange values.

We already saw in the df_orders.info() that there were null values in this column, let's make a list of all those lines to check with the (fictional) stakeholders at the source of this data.

In [28]:
zero_dollars_orders = df_orders[(df_orders['USD_PRICE']==0) | (df_orders['USD_PRICE'].isnull())].copy()
len(zero_dollars_orders)

34

Note that it represents only 34 rows, thus not having much impact on any analysis. Let's delete those lines and keep going.

In [29]:
df_orders = df_orders[df_orders['USD_PRICE']!=0].copy()
df_orders = df_orders[df_orders['USD_PRICE'].notnull()].copy()

Let's check the highest and lowest values.

In [30]:
df_orders.sort_values(by = 'USD_PRICE', ascending = True).head(10)

,USER_ID,ORDER_ID,PURCHASE_TS,SHIP_TS,PRODUCT_NAME,PRODUCT_ID,USD_PRICE,PURCHASE_PLATFORM,MARKETING_CHANNEL,ACCOUNT_CREATION_METHOD,COUNTRY_CODE
9693,f1e47071,7e8dab4db9e102226,2020-12-09,2020-12-12,JBL Quantum 100 Gaming Headset,ab0f,6.11,website,direct,desktop,TR
19068,fd5574ab,e5c64fcd689107006,2020-12-02,2020-12-03,JBL Quantum 100 Gaming Headset,ab0f,6.11,website,direct,desktop,TR
728,8e8cda8f,09bb555536760536,2020-09-26,2020-08-10,JBL Quantum 100 Gaming Headset,ab0f,6.11,website,email,desktop,TR
10315,d09fc296,869c79f9fe188110,2020-11-12,2020-11-14,JBL Quantum 100 Gaming Headset,ab0f,6.32,website,direct,desktop,TR
12464,493bddfd,a195c59620b32614,2020-11-08,2020-11-09,JBL Quantum 100 Gaming Headset,ab0f,6.55,website,email,desktop,TR
14679,ef3bcb29,bb69368fa16101075,2021-01-25,2021-01-28,JBL Quantum 100 Gaming Headset,ab0f,6.63,website,direct,desktop,TR
16184,49ae0a41,ca16e85211432807,2020-09-24,2020-09-26,JBL Quantum 100 Gaming Headset,ab0f,6.77,website,direct,desktop,TR
10387,e56b4114,8770efef34996921,2019-05-14,2019-05-17,JBL Quantum 100 Gaming Headset,2997,7.14,mobile app,email,mobile,TR
2004,b86a425c,1a32257ae2f78125,2020-06-06,2020-06-07,JBL Quantum 100 Gaming Headset,ab0f,7.19,website,direct,desktop,TR
11578,69612212,965eeb1c87b1826,2020-07-09,2020-07-11,JBL Quantum 100 Gaming Headset,ab0f,7.23,website,direct,mobile,TR

In [31]:
df_orders.sort_values(by = 'USD_PRICE', ascending = False).head(10)

,USER_ID,ORDER_ID,PURCHASE_TS,SHIP_TS,PRODUCT_NAME,PRODUCT_ID,USD_PRICE,PURCHASE_PLATFORM,MARKETING_CHANNEL,ACCOUNT_CREATION_METHOD,COUNTRY_CODE
19196,47c3a16b,e7023c6eb9032084,2019-05-19,2019-05-20,Sony PlayStation 5 Bundle,e22d,3146.88,website,direct,desktop,GB
12353,5cc9065d,a0306bced5a40489,2019-01-28,2019-01-30,Sony PlayStation 5 Bundle,54ed,2509.67,website,direct,mobile,GB
11748,741a663e,9867234962049857,2019-02-20,2019-02-23,Sony PlayStation 5 Bundle,54ed,2308.32,website,direct,mobile,IT
13829,9ffc43cc,b20616b63f167635,2020-12-03,2020-12-06,Sony PlayStation 5 Bundle,54ed,2250.93,website,direct,desktop,GB
6756,5dbb56ac,5920e517ea640884,2020-11-19,2020-11-20,Sony PlayStation 5 Bundle,54ed,2250.93,website,direct,desktop,GB
13990,67492bfb,b3eace9b2f344608,2019-04-27,2019-04-30,Sony PlayStation 5 Bundle,54ed,2236.25,website,direct,desktop,NL
8710,60e89e69,71fdc2fab6142145,2019-03-06,2019-03-07,Sony PlayStation 5 Bundle,54ed,2205.58,website,direct,desktop,DK
20154,3a8bed4a,efe3ad7eacf26675,2019-07-27,2019-07-29,Sony PlayStation 5 Bundle,54ed,2195.59,website,direct,desktop,DE
20155,3a8bed4a,efe3ad7eacf26676,2019-07-27,2019-07-29,Sony PlayStation 5 Bundle,54ed,2195.59,website,direct,desktop,DE
20311,ed6518c2,f138c5e035d100288,2019-10-04,2019-10-07,Sony PlayStation 5 Bundle,54ed,2182.90,website,direct,desktop,FR

The highest and lowest values seem realistic.

### 8th column PURCHASE_PLATFORM

Let's check if there are non-string types in the values.

In [32]:
i=0
while i < len(df_orders):
    if not isinstance(df_orders['PURCHASE_PLATFORM'].iloc[i],str):
        print(f"Index {i}, Format {type(df_orders['PURCHASE_PLATFORM'].iloc[i])}, Value {df_orders['PURCHASE_PLATFORM'].iloc[i]}")
    i = i+1

All the values are string types, we can thus convert the column to string dtype.

In [33]:
df_orders['PURCHASE_PLATFORM'] = df_orders['PURCHASE_PLATFORM'].astype('string')

Let's have a look at the purchase platform name list.

In [34]:
df_orders['PURCHASE_PLATFORM'].unique()

<StringArray>
['website', 'mobile app']
Length: 2, dtype: string

Everything looks good for this column.

### 9th column MARKETING_CHANNEL

Let's check if there are non-string types in the values.

In [35]:
i=0
while i < len(df_orders):
    if not isinstance(df_orders['MARKETING_CHANNEL'].iloc[i],str):
        print(f"Index {i}, Format {type(df_orders['MARKETING_CHANNEL'].iloc[i])}, Value {df_orders['MARKETING_CHANNEL'].iloc[i]}")
    i = i+1

Index 243, Format <class 'float'>, Value nan
Index 563, Format <class 'float'>, Value nan
Index 783, Format <class 'float'>, Value nan
Index 1494, Format <class 'float'>, Value nan
Index 1641, Format <class 'float'>, Value nan
Index 1861, Format <class 'float'>, Value nan
Index 2481, Format <class 'float'>, Value nan
Index 2985, Format <class 'float'>, Value nan
Index 3457, Format <class 'float'>, Value nan
Index 3591, Format <class 'float'>, Value nan
Index 3592, Format <class 'float'>, Value nan
Index 3651, Format <class 'float'>, Value nan
Index 3958, Format <class 'float'>, Value nan
Index 4009, Format <class 'float'>, Value nan
Index 4247, Format <class 'float'>, Value nan
Index 4413, Format <class 'float'>, Value nan
Index 4491, Format <class 'float'>, Value nan
Index 4905, Format <class 'float'>, Value nan
Index 5309, Format <class 'float'>, Value nan
Index 5515, Format <class 'float'>, Value nan
Index 5638, Format <class 'float'>, Value nan
Index 5672, Format <class 'float'>, Value nan
Index 5770, Format <class 'float'>, Value nan
Index 5795, Format <class 'float'>, Value nan
Index 6391, Format <class 'float'>, Value nan
Index 7079, Format <class 'float'>, Value nan
Index 7244, Format <class 'float'>, Value nan
Index 7418, Format <class 'float'>, Value nan
Index 8505, Format <class 'float'>, Value nan
Index 8518, Format <class 'float'>, Value nan
Index 8550, Format <class 'float'>, Value nan
Index 8844, Format <class 'float'>, Value nan
Index 8845, Format <class 'float'>, Value nan
Index 8872, Format <class 'float'>, Value nan
Index 8889, Format <class 'float'>, Value nan
Index 9794, Format <class 'float'>, Value nan
Index 9905, Format <class 'float'>, Value nan
Index 10366, Format <class 'float'>, Value nan
Index 10641, Format <class 'float'>, Value nan
Index 10648, Format <class 'float'>, Value nan
Index 10799, Format <class 'float'>, Value nan
Index 11048, Format <class 'float'>, Value nan
Index 11228, Format <class 'float'>, Value nan
Index 11229, Format <class 'float'>, Value nan
Index 11822, Format <class 'float'>, Value nan
Index 11922, Format <class 'float'>, Value nan
Index 12163, Format <class 'float'>, Value nan
Index 12295, Format <class 'float'>, Value nan
Index 12439, Format <class 'float'>, Value nan
Index 12458, Format <class 'float'>, Value nan
Index 12802, Format <class 'float'>, Value nan
Index 13106, Format <class 'float'>, Value nan
Index 13117, Format <class 'float'>, Value nan
Index 13650, Format <class 'float'>, Value nan
Index 13839, Format <class 'float'>, Value nan
Index 13931, Format <class 'float'>, Value nan
Index 13969, Format <class 'float'>, Value nan
Index 14192, Format <class 'float'>, Value nan
Index 14461, Format <class 'float'>, Value nan
Index 14812, Format <class 'float'>, Value nan
Index 15867, Format <class 'float'>, Value nan
Index 15876, Format <class 'float'>, Value nan
Index 16089, Format <class 'float'>, Value nan
Index 16271, Format <class 'float'>, Value nan
Index 16312, Format <class 'float'>, Value nan
Index 17007, Format <class 'float'>, Value nan
Index 17026, Format <class 'float'>, Value nan
Index 17522, Format <class 'float'>, Value nan
Index 17649, Format <class 'float'>, Value nan
Index 18036, Format <class 'float'>, Value nan
Index 18039, Format <class 'float'>, Value nan
Index 18134, Format <class 'float'>, Value nan
Index 18135, Format <class 'float'>, Value nan
Index 18588, Format <class 'float'>, Value nan
Index 19509, Format <class 'float'>, Value nan
Index 19560, Format <class 'float'>, Value nan
Index 19613, Format <class 'float'>, Value nan
Index 19739, Format <class 'float'>, Value nan
Index 19793, Format <class 'float'>, Value nan
Index 19868, Format <class 'float'>, Value nan
Index 20052, Format <class 'float'>, Value nan
Index 20214, Format <class 'float'>, Value nan
Index 20934, Format <class 'float'>, Value nan

The null values of this column are considered as float.

Let's convert the column to string dtype.

In [36]:
df_orders['MARKETING_CHANNEL'] = df_orders['MARKETING_CHANNEL'].astype('string')

Let's look at the list of marketing channels.

In [37]:
df_orders['MARKETING_CHANNEL'].unique()

<StringArray>
['affiliate', 'direct', 'email', 'social media', <NA>, 'unknown']
Length: 6, dtype: string

We can see that there is a category 'unknown', let's attribute all the null values to that category.

In [38]:
df_orders.loc[df_orders['MARKETING_CHANNEL'].isnull(), 'MARKETING_CHANNEL'] = 'unknown'

### 10th column ACCOUNT_CREATION_METHOD

Let's check if there are non-string types in the values.

In [39]:
i=0
while i < len(df_orders):
    if not isinstance(df_orders['ACCOUNT_CREATION_METHOD'].iloc[i],str):
        print(f"Index {i}, Format {type(df_orders['ACCOUNT_CREATION_METHOD'].iloc[i])}, Value {df_orders['ACCOUNT_CREATION_METHOD'].iloc[i]}")
    i = i+1

Index 243, Format <class 'float'>, Value nan
Index 563, Format <class 'float'>, Value nan
Index 783, Format <class 'float'>, Value nan
Index 1494, Format <class 'float'>, Value nan
Index 1641, Format <class 'float'>, Value nan
Index 1861, Format <class 'float'>, Value nan
Index 2481, Format <class 'float'>, Value nan
Index 2985, Format <class 'float'>, Value nan
Index 3457, Format <class 'float'>, Value nan
Index 3591, Format <class 'float'>, Value nan
Index 3592, Format <class 'float'>, Value nan
Index 3651, Format <class 'float'>, Value nan
Index 3958, Format <class 'float'>, Value nan
Index 4009, Format <class 'float'>, Value nan
Index 4247, Format <class 'float'>, Value nan
Index 4413, Format <class 'float'>, Value nan
Index 4491, Format <class 'float'>, Value nan
Index 4905, Format <class 'float'>, Value nan
Index 5309, Format <class 'float'>, Value nan
Index 5515, Format <class 'float'>, Value nan
Index 5638, Format <class 'float'>, Value nan
Index 5672, Format <class 'float'>, Value nan
Index 5770, Format <class 'float'>, Value nan
Index 5795, Format <class 'float'>, Value nan
Index 6391, Format <class 'float'>, Value nan
Index 7079, Format <class 'float'>, Value nan
Index 7244, Format <class 'float'>, Value nan
Index 7418, Format <class 'float'>, Value nan
Index 8505, Format <class 'float'>, Value nan
Index 8518, Format <class 'float'>, Value nan
Index 8550, Format <class 'float'>, Value nan
Index 8844, Format <class 'float'>, Value nan
Index 8845, Format <class 'float'>, Value nan
Index 8872, Format <class 'float'>, Value nan
Index 8889, Format <class 'float'>, Value nan
Index 9794, Format <class 'float'>, Value nan
Index 9905, Format <class 'float'>, Value nan
Index 10366, Format <class 'float'>, Value nan
Index 10641, Format <class 'float'>, Value nan
Index 10648, Format <class 'float'>, Value nan
Index 10799, Format <class 'float'>, Value nan
Index 11048, Format <class 'float'>, Value nan
Index 11228, Format <class 'float'>, Value nan
Index 11229, Format <class 'float'>, Value nan
Index 11822, Format <class 'float'>, Value nan
Index 11922, Format <class 'float'>, Value nan
Index 12163, Format <class 'float'>, Value nan
Index 12295, Format <class 'float'>, Value nan
Index 12439, Format <class 'float'>, Value nan
Index 12458, Format <class 'float'>, Value nan
Index 12802, Format <class 'float'>, Value nan
Index 13106, Format <class 'float'>, Value nan
Index 13117, Format <class 'float'>, Value nan
Index 13650, Format <class 'float'>, Value nan
Index 13839, Format <class 'float'>, Value nan
Index 13931, Format <class 'float'>, Value nan
Index 13969, Format <class 'float'>, Value nan
Index 14192, Format <class 'float'>, Value nan
Index 14461, Format <class 'float'>, Value nan
Index 14812, Format <class 'float'>, Value nan
Index 15867, Format <class 'float'>, Value nan
Index 15876, Format <class 'float'>, Value nan
Index 16089, Format <class 'float'>, Value nan
Index 16271, Format <class 'float'>, Value nan
Index 16312, Format <class 'float'>, Value nan
Index 17007, Format <class 'float'>, Value nan
Index 17026, Format <class 'float'>, Value nan
Index 17522, Format <class 'float'>, Value nan
Index 17649, Format <class 'float'>, Value nan
Index 18036, Format <class 'float'>, Value nan
Index 18039, Format <class 'float'>, Value nan
Index 18134, Format <class 'float'>, Value nan
Index 18135, Format <class 'float'>, Value nan
Index 18588, Format <class 'float'>, Value nan
Index 19509, Format <class 'float'>, Value nan
Index 19560, Format <class 'float'>, Value nan
Index 19613, Format <class 'float'>, Value nan
Index 19739, Format <class 'float'>, Value nan
Index 19793, Format <class 'float'>, Value nan
Index 19868, Format <class 'float'>, Value nan
Index 20052, Format <class 'float'>, Value nan
Index 20214, Format <class 'float'>, Value nan
Index 20934, Format <class 'float'>, Value nan

The null values of this column are considered as float.

Let's convert the column to string dtype.

In [40]:
df_orders['ACCOUNT_CREATION_METHOD'] = df_orders['ACCOUNT_CREATION_METHOD'].astype('string')

Let's look at the list of account creation methods.

In [41]:
df_orders['ACCOUNT_CREATION_METHOD'].unique()

<StringArray>
['unknown', 'desktop', 'mobile', 'tablet', <NA>, 'tv']
Length: 6, dtype: string

We can see that there is a category 'unknown', let's attribute all the null values to that category.

In [42]:
df_orders.loc[df_orders['ACCOUNT_CREATION_METHOD'].isnull(), 'ACCOUNT_CREATION_METHOD'] = 'unknown'

### 11th column COUNTRY_CODE

Let's check if there are non-string types in the values.

In [43]:
i=0
while i < len(df_orders):
    if not isinstance(df_orders['COUNTRY_CODE'].iloc[i],str):
        print(f"Index {i}, Format {type(df_orders['COUNTRY_CODE'].iloc[i])}, Value {df_orders['COUNTRY_CODE'].iloc[i]}")
    i = i+1

Index 526, Format <class 'float'>, Value nan
Index 671, Format <class 'float'>, Value nan
Index 1043, Format <class 'float'>, Value nan
Index 3581, Format <class 'float'>, Value nan
Index 4079, Format <class 'float'>, Value nan
Index 4080, Format <class 'float'>, Value nan
Index 4870, Format <class 'float'>, Value nan
Index 5139, Format <class 'float'>, Value nan
Index 6114, Format <class 'float'>, Value nan
Index 6115, Format <class 'float'>, Value nan
Index 6507, Format <class 'float'>, Value nan
Index 6508, Format <class 'float'>, Value nan
Index 6974, Format <class 'float'>, Value nan
Index 6989, Format <class 'float'>, Value nan
Index 7185, Format <class 'float'>, Value nan
Index 7787, Format <class 'float'>, Value nan
Index 9238, Format <class 'float'>, Value nan
Index 9278, Format <class 'float'>, Value nan
Index 9832, Format <class 'float'>, Value nan
Index 9890, Format <class 'float'>, Value nan
Index 10719, Format <class 'float'>, Value nan
Index 14609, Format <class 'float'>, Value nan
Index 15749, Format <class 'float'>, Value nan
Index 16393, Format <class 'float'>, Value nan
Index 16980, Format <class 'float'>, Value nan
Index 17619, Format <class 'float'>, Value nan
Index 17620, Format <class 'float'>, Value nan
Index 18115, Format <class 'float'>, Value nan
Index 18331, Format <class 'float'>, Value nan
Index 18379, Format <class 'float'>, Value nan
Index 18383, Format <class 'float'>, Value nan
Index 19685, Format <class 'float'>, Value nan
Index 20180, Format <class 'float'>, Value nan
Index 20191, Format <class 'float'>, Value nan
Index 20594, Format <class 'float'>, Value nan
Index 20673, Format <class 'float'>, Value nan
Index 20821, Format <class 'float'>, Value nan
Index 20907, Format <class 'float'>, Value nan

The null values of this column are considered as float.

Let's convert the column to string dtype.

In [44]:
df_orders['COUNTRY_CODE'] = df_orders['COUNTRY_CODE'].astype('string')

As there is no way to infer the missing country codes with the information we have, let's make a list of all those lines to check with the (fictional) stakeholders at the source of this data.

In [45]:
missing_country_code = df_orders[df_orders['COUNTRY_CODE'].isnull()].copy()
len(missing_country_code)

38

Note that it represents only 38 rows, thus not affecting too much our analysis. Let's put it on the side and keep going.

## Regions table

In [46]:
df_regions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   COUNTRY_CODE  191 non-null    object
 1   REGION        169 non-null    object
dtypes: object(2)
memory usage: 3.1+ KB

Both column have the type object and have null values.

### Duplicates

Let's see if some lines are duplicated.

In [47]:
df_regions[df_regions.duplicated(keep=False)]

Empty DataFrame
Columns: [COUNTRY_CODE, REGION]
Index: []

There is no duplicated lines.

### 1st column COUNTRY_CODE

Let's check the null value we identified above.

In [48]:
df_regions[df_regions['COUNTRY_CODE'].isnull()]

    COUNTRY_CODE REGION
129          NaN   EMEA

This table seems to be is ordered alphabetically by the COUNTRY_CODE column. From the index of the line with the null COUNTRY_CODE, we could infer that the data that should be there is alphabetically between the country code of line 128 and 130.

In [49]:
df_regions.loc[128:130]

    COUNTRY_CODE REGION
128           MZ   EMEA
129          NaN   EMEA
130           NC   APAC

After a quick search over the internet, it seems that the only country with a code that fits is NA (Namibia). Let's thus replace the null value accordingly.

In [50]:
df_regions.loc[129,'COUNTRY_CODE'] = 'NA'

Let's convert the column to string dtype.

In [51]:
df_regions['COUNTRY_CODE'] = df_regions['COUNTRY_CODE'].astype('string')

### 2nd column REGION

Let's check the list of regions to understand the classification logic.

In [52]:
df_regions['REGION'].unique()

array(['EMEA', nan, 'APAC', 'LATAM', 'North America', 'X.x'], dtype=object)

Let's check the null and 'X.x' values.

In [53]:
df_regions[(df_regions['REGION'].isnull()) | (df_regions['REGION'] == 'X.x')]

    COUNTRY_CODE REGION
2             AG    NaN
3             AI    NaN
25            BQ    NaN
27            BS    NaN
44            CW    NaN
61            GD    NaN
67            GL    NaN
69            GP    NaN
80            IE    NaN
89            JM    NaN
95            KN    NaN
98            KY    NaN
101           LB    NaN
102           LC    NaN
113           MH    X.x
120           MQ    NaN
141           PG    X.x
145           PR    NaN
166           SX    NaN
167           TC    NaN
174           TT    NaN
179           US    NaN
182           VC    NaN
184           VG    NaN
185           VI    NaN

We can easily associate those country code to the right region by checking on the internet. Let's do that.

In [54]:
df_regions.loc[df_regions['COUNTRY_CODE']=='AG','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='AI','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='BQ','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='BS','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='CW','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='GD','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='GL','REGION'] = 'EMEA'
df_regions.loc[df_regions['COUNTRY_CODE']=='GP','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='IE','REGION'] = 'EMEA'
df_regions.loc[df_regions['COUNTRY_CODE']=='JM','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='KN','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='KY','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='LB','REGION'] = 'EMEA'
df_regions.loc[df_regions['COUNTRY_CODE']=='LC','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='MH','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='MQ','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='PG','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='PR','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='SX','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='TC','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='TT','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='US','REGION'] = 'North America'
df_regions.loc[df_regions['COUNTRY_CODE']=='VC','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='VG','REGION'] = 'LATAM'
df_regions.loc[df_regions['COUNTRY_CODE']=='VI','REGION'] = 'LATAM'

In [55]:
df_regions['REGION'] = df_regions['REGION'].astype('string')

The tables are now cleaned and usable for analysis.